/* 全体のスタイル */
body {
    font-family:Sawarabi Gothic, sans-serif;
    box-sizing: border-box;
    background-color:#C7C7A6;
    color:#363020;
}

h1{
    text-align: center;
    font-family:Comfortaa, sans-serif;
    background-color: #605C4E;
    color:#C7C7A6;
    padding: 20px;
}

h2{   
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
    border: 3px solid #605C4E;
    border-radius: 10px;
    background-color: #ffffff;
}

/* 講義一覧のスタイル */
ul {
    list-style-type:none;
    padding: 0;
}

.course-item {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.course-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
}

.course-title {

}

/* ボタンの配置 */
.button-group {
    display: flex;
    vertical-align:middle;
    gap: 10px;
}

.btn {
    padding: 5px 8px;
    font-size: 0.9em;
    cursor: pointer;
    color: #ffffff;
    background-color: #605C4E;
    border: 2px #605C4E solid;
    border-radius: 2px;
}

.btn:hover{
    border: 2px #928d79 solid;
    border-radius: 2px;
    background-color:#928d79;
}

.btn-a{
    padding: 8px 10px;
    font-size: 0.9em;
    cursor: pointer;
    color:  rgb(255, 255, 249);
    background-color:#ff0000;
    border: 1px rgb(255, 255, 255) solid;
    border-radius: 3px;
    margin-right: 10px;
}

.btn-a:hover{
    transform: scale(1.3);
}


/* メモフォーム全体を横並びにする */
.memo-container form {
    display: flex;
    vertical-align:text-bottom;
    align-items:flex-end; /* ボタンと入力欄を上下で揃える */
    gap: 1rem; /* 入力欄とボタンの間にスペースを入れる */
}

/* 入力欄を広げて、ボタンとのバランスを取る */
.memo-container form input {
    padding: 30px;
    font-size: 1.2em;
}


.s-container{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 30px;
    border: 3px solid #134554;
    background-color: rgb(255, 255, 249);
}

/* フッターリンクのスタイル */
a {
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-right: 1rem;
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}
